$size__site-main: 100%;
$size__site-main-padding: 5px 10px;
$size__site-sidebar: 25%;

$size__site-margin-left: 18.87%;
$size__site-margin-right: 19.81%;
$size__site: 100% - $size__site-margin-left - $size__site-margin-right;

$size__news: 50%;
$size__events: 50%;

